/*
    Name: Base
    Author: glmanhtu
    @selection_color = #2E65D2
    @font_color = black
*/

QWidget.border-button {
    border: 1px solid #999999;
    border-radius: 2px;
}

QFrame[frameShape="4"] {
    color: #888888;
    border-width: 1px;
}